body
{
    background: #1e1f24;
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #88F;
    box-shadow: 0px 5px 30px 0px rgba(red, green, blue, alpha)
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#container
{
    width: 70%;
    padding: lem;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container #logo
{
    width: 30px;
    vertical-align: middle;
}

#post
{
    background: white;
    padding: lem;
    font-size: 15px;
}

#footer
{
    background: #88F;
    color: white;
    text-align: center;
}
